extends ../skeleton.jade

mixin youtube(id)
	.embed-responsive.embed-responsive-4by3.youtube
		<iframe width="420" height="315" src="https://www.youtube.com/embed/#{id}" frameborder="0" allowfullscreen></iframe>

block content
	.container
		.row
			.col-md-6
				include ../includes/itenium

				h2 TW Tactics&nbsp;<small>(All servers)</small>
				div.small-to-h2.small.text-muted Updated 16 march 2019
					| <br>v1.4: Updated urls to new sangu.be hosting

				p.
					Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos;
					progress and more

				div
					+youtube("LMJUEE3RyEQ")

				.clearfix
					.pull-right.button-spacing-right.
						<a class="btn btn-success btn-lg hidden-xs" href=#{twTactics} data-ot="Available for Windows only" data-ot-delay="0.7" data-ot-tip-joint="top">
							<i class="fa fa-download"></i>
							Download for Windows
						</a>
						<a class="btn btn-default btn-lg" href="twtactics">Learn more &raquo;</a>

					div.pull-down(class="fb-like", data-href="https://sangu.be", data-layout="button_count", data-action="like", data-show-faces="false", data-share="true")

			.col-md-6.visible-xs.visible-sm
				hr

			.col-md-6
				h2 Sangu Package&nbsp;<small>(NL server only)</small>
				.small-to-h2.small.text-muted Laatste update: #{releaseDate} (v#{version})

				#sp-dutch-only.alert.alert-danger Unfortunately the Sangu Package is only legal on TW.nl!<br><span class="text-muted small">The remaining Sangu Package content is therefore in Dutch...</span>

				.pull-right
					a#sp-install.btn.btn-default.btn-xs Hoe installeren?

				p <strong>Het gekende en geliefde package :)</strong>

				#sp-installation-instructions.jcarousel
					include ../includes/sangu-package/install-instructions

				include ../includes/index/sangu-package-carousel

				.clearfix
					.pull-right.button-spacing-right
						include ../includes/index/sangu-package-buttons

				hr

				h4 TW Simulator+
				.small-to-h2.small.text-muted door KPHS
				strong Een betere aanvalssimulator
				div Reken zonder veel gedoe uit hoe een dorp te vegen!

				.clearfix
					.pull-right.button-spacing-right-small
						a.btn.btn-default.hidden-xs(href=twSimulator) Downloaden
						a.btn.btn-default(href="twsimulator") Ontdek meer &raquo;

	.container
		hr

	.container
		.row
			.col-md-6
				include ../includes/index/tribe-sangu

			.col-md-6.visible-xs.visible-sm
				hr

			.col-md-6
				include ../includes/index/contribute

block scripts
	script(src='js/index/sp.js')
	script(src='js/index/sp-carousel.js')

block css
	link(rel='stylesheet', href='css/index/sangu-package.css')
	link(rel='stylesheet', href='css/index/sangu-package-carousel.css')
